In [84]:
import pandas as pd
import numpy as np

In [85]:
#importing movie metadata
meta= pd.read_csv("../../movie_hackathon/movies_metadata.csv")
meta= meta[["id","imdb_id","original_language","original_title","popularity","vote_average"]]
meta= meta.rename(columns={'id':'movieId'})
meta = meta[meta['original_language']== 'en'] #just want movies in English
meta.head(10)

,movieId,imdb_id,original_language,original_title,popularity,vote_average
0,862,tt0114709,en,Toy Story,21.946943,7.7
1,8844,tt0113497,en,Jumanji,17.015539,6.9
2,15602,tt0113228,en,Grumpier Old Men,11.7129,6.5
3,31357,tt0114885,en,Waiting to Exhale,3.859495,6.1
4,11862,tt0113041,en,Father of the Bride Part II,8.387519,5.7

In [86]:
#importing movie ratings
ratings= pd.read_csv("../../movie_hackathon/ratings_processed.csv")
ratings= ratings[['userId', 'movieId', 'rating']]
ratings=ratings.head(1000000)

In [87]:
#convert data types before merging
meta.movieId =pd.to_numeric(meta.movieId, errors='coerce')
ratings.movieId = pd.to_numeric(ratings.movieId, errors= 'coerce')

In [88]:
#create a single dataset merging the previous 2 files
data= pd.merge(ratings, meta, on='movieId', how='inner')
data.head()

,userId,movieId,rating,imdb_id,original_language,original_title,popularity,vote_average
0,1,858,5.0,tt0108160,en,Sleepless in Seattle,10.234919,6.5
1,3,858,4.0,tt0108160,en,Sleepless in Seattle,10.234919,6.5
2,5,858,5.0,tt0108160,en,Sleepless in Seattle,10.234919,6.5
3,12,858,4.0,tt0108160,en,Sleepless in Seattle,10.234919,6.5
4,20,858,4.5,tt0108160,en,Sleepless in Seattle,10.234919,6.5

In [89]:
#movie matrix so that I can use the recommender function later
matrix= data.pivot_table(index='userId', columns='original_title', values='rating')
matrix.head()

original_title,!Women Art Revolution,$5 a Day,'Gator Bait,'R Xmas,'Twas the Night Before Christmas,...And the Pursuit of Happiness,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,...,xXx,¡Three Amigos!,Æon Flux,Бабник,Грозовые ворота,Дневник его жены,Мой сводный брат Франкенштейн,"Цирк сгорел, и клоуны разбежались",مارمولک,黑太陽731
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN